RewriteEngine On
#RewriteCond %{HTTP_HOST} ^adresa.cz$ [NC]
#RewriteRule ^(.*)$ http://www.adresa.cz/$1 [R=301,L]
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /startapp/index.php [L]

<IfModule mod_php5.c>
  php_value error_reporting 30711
  php_flag display_errors 1
</IfModule>






















































































































































































































































































































































