html,
body {
    width: 100%;
}

* {
    margin: 0px;
    padding: 0px;
}

p {
    font-size: 14px;
    line-height: 24px;
    color: #0a0a0a;
    font-family: "Libre Baskerville";
    src: url('fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf');
    font-weight: 400;
}

h3 {
    font-size: 14px;
    line-height: 30px;
    color: #0a0a0a;
    font-family: "Futura PT";
    src: url("/fonts/Futura PT/FuturaPTBook.otf");
    text-transform: uppercase;
}

h2 {
    font-size: 22px;
    line-height: 35px;
    color: #0a0a0a;
    font-family: "Libre Baskerville";
    src: url('fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf');
    text-transform: uppercase;
    font-weight: 700;
}

aside>section>ul>li>i {
    margin-left: -10px;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
}

div.vertical-line {
    width: 1px;
    height: 20px;
    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -5px;
}

a {
    text-decoration: none;
    color: black;
}

.fixed-nav {
    background: white;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    height: 83px;
}

header {
    position: relative;
}

.main-title {
    position: relative;
    left: 16%;
}

.main-title>i {
    position: relative;
    left: -45px;
    top: 30px;
}

body {
    overflow-x: hidden;
}

nav {
    position: relative;
    left: 42%;
    top: -40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: -15px;
    left: -10px;
}

img {
    border-radius: 3px;
}

.navList>li {
    float: left;
    margin-left: 30px;
}

.navList>li:hover,
.navList>li>a:hover {
    color: red;
}

.navList>li>a {
    text-decoration: none;
    color: #0a0a0a;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    bottom: -210px;
}

.dropdown-content>li>a:hover {
    color: red;
    margin-left: 5px;
}

li>a>i {
    float: right;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown {
    background-color: #3e8e41;
}

#movingImages {
    margin-top: 100px;
    position: relative;
    left: 0px;
}

.column {
    float: left;
    width: 75%;
    padding: 5px;
    position: relative;
    left: 13%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#newsAndTrends {
    position: relative;
    left: 22%;
}

.newsAndTrends {
    display: flex;
    position: relative;
}

.newsAndTrends>h2 {
    font-size: 8px;
}

.newsAndTrends>article {
    width: 250px;
    margin-right: 20px;
}

.small-dots {
    position: relative;
    left: -20%;
}

.small-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #c6c6c6;
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
    border: none;
    padding: 0;
    transition: .3s background;
}

.small-dot:hover {
    background: #878787;
}

.dot-active {
    background: black;
}

main {
    float: left;
    width: 40%;
    margin-left: 60ex;
}

aside {
    float: right;
    width: 18%;
    margin-right: 45ex;
}

main>article {
    display: flex;
}

main>article>h3 {
    font-size: 8px;
}

main>article>h2 {
    font-size: 13px;
}

main>article>p {
    font-size: 13px;
}

.hr-line {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #7A7A7A;
    opacity: 0.2;
}

time {
    margin-right: 5px;
    opacity: 0.4;
}

.comments {
    opacity: 0.4;
}

.instagram-widget {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.instagram-widget>a>img {
    margin-right: 5px;
    margin-bottom: 5px;
}

.main-caption {
    margin-left: 25px;
}

.main-caption>* {
    margin-bottom: 10px;
}

.main-caption>p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.main-caption>p>* {
    margin-bottom: 5px;
    margin-top: 5px;
}

.main-content {
    position: relative;
    height: auto;
    min-height: 100% !important;
    display: flex;
}

.main-caption>a {
    position: relative;
    bottom: -65px;
    text-decoration: none;
    color: red;
}

.main-caption>a:hover {
    text-decoration: underline;
}

.main-caption>a>i {
    margin-left: 5px;
}

aside>section>ul {
    list-style-type: none;
}

aside>section {
    margin-bottom: 30px;
}

section>h3 {
    margin-bottom: 10px;
    margin-left: -15px;
}

.aside-trending-posts {
    position: relative;
    left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 450px;
}

aside>section>ul>li {
    float: left;
    margin-right: 15px;
}

li>label {
    position: relative;
    left: -10px;
}

.most-commented {
    position: relative;
    top: -80px;
}

.dot {
    position: absolute;
    margin-left: -10px;
    margin-top: -10px;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    filter: drop-shadow(0 0 25px rgba(241, 53, 68, 0.15));
    background-color: #f13544;
    border: 3px solid #ffffff;
}

.dot>p {
    color: white;
    position: relative;
    font-size: 15px;
    left: 8px;
    top: 2px;
}

.aside-trends {
    position: relative;
    top: -100px;
}

#trending>li>a>img {
    width: 90px;
    height: 90px;
    border-radius: 3px;
    background-color: #0a0a0a;
}

#trending>li {
    margin-bottom: 10px;
    position: relative;
}

.caption {
    position: relative;
    float: right;
    font-size: 12px;
    margin-left: 10px;
    top: -10px;
    left: -80px;
}

aside>section>h2 {
    margin-bottom: 5px;
    margin-left: -15px;
}

.aside-trends>h3 {
    margin-top: 10px;
}

.aside-trends>h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.caption-2 {
    position: relative;
    float: right;
    font-size: 12px;
    left: -80px;
    top: -7px;
}

.wider .caption-2 {
    left: -40px;
}

.caption-2>* {
    margin-bottom: 10px;
}

.wider>* {
    margin-top: 15px;
    margin-bottom: 15px;
}

#follow-2nd {
    margin-top: 15px;
    margin-bottom: 10px;
    height: 105px;
}

#instagram-2nd {
    margin-bottom: 10px;
}

#instagram-2nd div {
    margin-left: -10px;
}

#other {
    width: 160ex;
    position: relative;
    margin-left: 27rem;
}

.bone-white {
    background-color: #fcf6f5;
    width: 100%;
}

.active-li {
    opacity: 1 !important;
    background: #ddd;
}

#other>ul>li {
    width: 100px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    color: #999999;
    font-family: "Futura PT";
    text-align: center;
    float: left;
    margin: 30px;
    margin-bottom: 50px;
}

.left-float {
    display: inline-flex;
    position: relative;
    margin-bottom: 10px;
}

.left-float>.text-container>a {
    margin-right: 30px;
}

.left-float>a {
    margin-right: 30px;
}

.left-float>article {
    margin-right: 30px;
}

button {
    position: relative;
    background: none;
    left: 45%;
    width: 140px;
    height: 50px;
    text-align: center;
    display: inline-block;
    margin: 50px;
    padding: 1px;
    border: 0.5px solid black;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    border-radius: 3px;
    background-color: rgba(72, 72, 72, 0);
    border: 1px solid #0a0a0a;
}

#latest {
    padding-top: 40px;
    margin-left: 60ex;
}

#latest>h2 {
    font-size: 20px;
    line-height: 50px;
    color: #0a0a0a;
    font-family: "Futura PT";
}

.latest {
    display: flex;
}

.latest>ul {
    bottom: 0px;
}

.latest-caption>h3 {
    font-size: 14px;
    line-height: 30px;
    color: #0a0a0a;
    font-family: "Futura PT";
}

.latest-caption {
    margin-left: 10px;
}

.latest-caption>h2 {
    font-size: 16px;
    line-height: 26px;
    color: #0a0a0a;
    font-family: "Libre Baskerville";
    font-weight: 700;
}

.latest-caption>p {
    font-size: 13px;
    line-height: 30px;
    color: #0a0a0a;
    font-family: "Futura PT";
}

.latest-caption>time {
    font-size: 13px;
    line-height: 30px;
    color: #838383;
    font-family: "Futura PT";
}

.latest>ul>li {
    margin-top: 15px;
    display: flex;
}

.latest>.text-container {
    display: inline-flex;
    margin-left: 13ex;
}

.artricle-containter {
    width: 250px;
    margin-right: 75px;
}

.text-container {
    position: relative;
}

.text-over-img {
    position: absolute;
    size: inherit;
    left: 5px;
    bottom: 30px;
    line-height: 30px;
    color: white;
}

.text-over-img>* {
    color: white;
}

.text-over-img>h3 {
    width: fit-content;
    border-radius: 5px;
    background-color: white;
    color: black;
}

#editor {
    padding-bottom: 50px;
}

#editor>h2 {
    font-size: 20px;
    line-height: 50px;
    color: #0a0a0a;
    font-family: "Futura PT";
    text-align: center;
    position: relative;
    right: 25%;
}

.content-container {
    margin-left: 390px;
    display: flex;
}

#contact {
    text-align: center;
    position: relative;
}

#social {
    padding: 60px;
}

#social>ul>li {
    position: relative;
    left: 38%;
    margin-right: 25px;
    float: left;
}

input[type=submit] {
    margin-left: 5px;
    color: white;
    width: 141px;
    height: 50px;
    border-radius: 3px;
    background-color: #0a0a0a;
}

input[type=text] {
    width: 430px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 5px;
}

#contact>form {
    display: flex;
    position: relative;
    left: 36%;
}

#social>h3 {
    font-size: 50px;
}

.red-dot {
    color: red;
}

.second-page {
    position: relative;
    right: 0%;
}

.second-page article {
    width: 748px;
}

.second-page article>div>* {
    margin: 10px;
}

.second-page article>div a {
    color: red;
}

.second-page article>div a:hover {
    text-decoration: underline;
}

.main-content-2 {
    margin-top: 100px;
}

.third-page {
    float: left;
    width: 700px;
    margin-left: -215px;
}

.wider {
    width: 310px;
    float: right;
    position: relative;
    left: 0%;
}

footer {
    background: #F0F0F0;
    text-align: center;
}

.footer-instagram {
    position: relative;
    left: 46%;
    display: flex;
    margin-bottom: 50px;
}

.footer-instagram>a {
    font-size: 31px;
    position: relative;
    bottom: -8px;
    margin-right: 10px;
}

.footer-instagram>h3 {
    font-size: 30px;
    line-height: 50px;
    color: #0a0a0a;
    font-family: "Futura PT";
    text-align: center;
}

.images {
    display: flex;
    width: 1920px;
    padding-bottom: 20px;
}

.images>a>img {
    border-radius: 0px;
}

.images>a {
    margin-right: -4px;
    height: 320px;
}

footer>h2 {
    font-size: 20px;
    opacity: 0.4;
    font-size: 15px;
    line-height: 50px;
    font-family: "Futura PT";
    text-align: center;
}

.footer {
    text-align: center;
    width: 100%;
    display: inline-block;
}

.footer>p {
    margin-left: 150px;
    float: left;
}

.footer>ul {
    position: relative;
    top: 30px;
    float: right;
    display: inline-flex;
    margin-right: 150px;
}

.footer>ul>li {
    padding-right: 10px;
}

.left-img {
    position: relative;
    right: 500px;
    bottom: -135px;
}

.right-img {
    position: relative;
    left: 500px;
    bottom: 85px;
}

.images>a:hover .over {
    opacity: 0.75;
}

.over {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    top: -324px;
    width: 316px;
    height: 320px;
    opacity: 0;
    transition: .3s opacity;
}

.over>* {
    margin: 15px;
    margin-top: 0px;
}

.over>i {
    color: white;
}

.over>p {
    font-size: 10px;
    line-height: 20px;
    color: #ffffff;
    font-family: "Libre Baskerville";
    font-weight: 700;
}

#contact h3 {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.comment-caption>* {
    position: relative;
    line-height: 20px;
    top: -100px;
    font-size: 15px;
}

.banner {
    position: relative;
    top: -75px;
}

.banner h2 {
    position: relative;
    top: -300px;
}

.atention {
    width: 100%;
    margin-top: 185px;
    text-align: center;
}

.atention>h2 {
    font-size: 35px;
    line-height: 50px;
    color: #0a0a0a;
    font-family: "Futura PT";
    text-align: center;
}

.nav-buttons {
    position: relative;
    top: 50px;
    left: 275px;
}

.nav-buttons>a {
    height: 35px;
    width: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eeeeee;
    border-radius: 18px;
    margin-left: 5px;
    margin-right: 5px;
    transition: .3s all;
}

.nav-buttons>a:hover {
    border-color: red;
}

.active {
    background: red;
    color: white;
}

.main-content-2+.hr-line {
    margin-bottom: -5px;
    color: #F0F0F0;
}

.secondary-nav {
    display: inline-flex;
    position: relative;
    right: 300px;
    top: -15px
}

.secondary-nav>li {
    display: inline;
    margin-right: 15px;
}

.left-float-span {
    float: left;
    position: relative;
    top: -17px;
    left: 300px;
}