html,
body {
    width: 100%;
}

header {
    position: relative;
    left: 35%;
}

header > i {
    position: relative;
    left: -35px;
    top: 50px;
}

body {
    overflow-x: hidden;
}

nav {
    position: relative;
    left: 135px;
    top: -40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navList>li {
    float: left;
    margin-left: 30px;
}

.navList>li:hover, .navList>li>a:hover{
    color: red;
}

.navList>li>a {
    text-decoration:none;
    color: #0a0a0a;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content > li > a:hover{
    color: red;
    margin-left: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown {
    background-color: #3e8e41;
}

#movingImages {
    position: relative;
    left: 0px;
}

.column {
    float: left;
    width: 75%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#newsAndTrends {
    position: relative;
    left: 22%;
}

.newsAndTrends {
    display: flex;
    position: relative;
}

.newsAndTrends>h2 {
    font-size: 8px;
}

.newsAndTrends>article {
    width: 250px;
    margin-right: 20px;
}

main {
    float: left;
    width: 750px;
    margin-left: 390px;
}

aside {
    float: right;
    width: 292px;
    margin-right: 390px;
}

main>article {
    display: flex;
}

main>article>h3 {
    font-size: 8px;
}

main>article>h2 {
    font-size: 13px;
}

main>article>p {
    font-size: 13px;
}

.hr-line {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    border-bottom: 1px solid #7A7A7A;
}

aside>section>ul {
    list-style-type: none;
}

aside>section>ul>li {
    float: left;
    margin-right: 15px;
}

li>label {
    position: relative;
    left: -10px;
}

.dot {
    position: absolute;
    margin-left: -10px;
    margin-top: -10px;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    filter: drop-shadow(0 0 25px rgba(241, 53, 68, 0.15));
    background-color: #f13544;
    border: 3px solid #ffffff;
}

#trending>li>a>img {
    width: 90px;
    height: 90px;
    border-radius: 3px;
    background-color: #0a0a0a;
}

#trending>li {
    margin-bottom: 10px;
    position: relative;
}

.caption {
    position: relative;
    float: right;
    font-size: 12px;
    margin-left: 10px;
    top: -10px;
    left: -80px;
}

.caption-2{
    position: relative;
    float: right;
    font-size: 12px;
    right: -10px;
    top: -10px;
}

#other {
    width: 1140px;
    position: relative;
    margin-left: 390px;
}

.bone-white {
    background-color: beige;
    width: 100%;
}

#other>ul>li {
    margin-right: 10px;
    border: 1px solid #7A7A7A;
    background: #ddd;
    width: 140px;
    height: 50px;
    text-align: center;
    display: inline-block;
    margin: 10px;
}

.left-float {
    display: flex;
    position: relative;
}

.left-float>article {
    margin-left: 30px;
}

.left-float+button {
    position: relative;
    width: 125px;
    height: 65px;
    left: 40%;
}

#latest {
    margin-left: 390px;
}

#latest>button {
    position: relative;
    width: 125px;
    height: 65px;
    left: 30%;
    margin-top: 15px;
}

.latest {
    display: flex;
}

.latest>ul>li {
    margin-bottom: 15px;
    display: flex;
}

.latest>a {
    display: inline-flex;
    margin-left: 20px;
}

.artricle-containter {
    width: 250px;
    margin-right: 15px;
}

.content-container {
    margin-left: 390px;
    display: flex;
}

#contact {
    text-align: center;
    position: relative;
}

#contact>ul>li {
    margin-right: 25px;
    float: left;
}

.second-page{
    margin-left: -35px;
}

.third-page{
    float: left;
    width: 700px;
    margin-left: -10px;
}

.wider {
    width: 310px;
}

.footer{
    text-align: center;
    width: 100%;
    display: inline-block;
}

.footer > p{
    margin-left: 150px;
    float: left;
}

.footer > ul {
    position: relative;
    top: 30px;
    float: right;
    display: inline-flex;
    margin-right: 150px;
}

.footer > ul > li {
    padding-right: 10px;
}