body
{
   background-color: darkgray;
   height:auto;
}

#web
{
   width:1000px;
   border:1px solid black;
   margin:20px auto;
   background-color:lightblue;
}

#carousel
{
   width: 900px;
   margin: 25px auto;
}

#tab-price
{
   width: 500px;
}

#tab-req
{
   width: 750px;
}

   #contact-form
{
   width: 500px;
   padding: 25px;
}

#obsah
{
   margin: 10px;  
}

textarea {
   width: 50%;
   padding: 12px;
   border: 1px solid black;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
}

input{
   padding: 8px;
   border: 1px solid black;
   box-sizing: border-box;
   resize: vertical;
}

select{
   padding: 2px;
   border: 1px solid black;
   box-sizing: border-box;
   resize: vertical;
}

.active{
   background-color: seagreen;
}